*.class

# Package Files #
*.war
*.ear
/FacemashEE/dist/
/FacemashEE/build/
/FacemashCore/build/
/FacemashCore/dist/
/FacemashWeb/dist/
/FacemashWeb/build/
/FacemashImporter/nbproject/private/
/FacemashImporter/build/